
/* General */
body{
    background-image: linear-gradient(151.16deg, rgba(4, 23, 60, 0.75) 12.03%, rgba(0, 0, 0, 0.375) 89.45%),
    url('/public/img/background.jpg');
    background-blend-mode: Luminosity;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
p,a,tr,h4,h5,h6,em{
    font-family: Inter, sans-serit;
    color: white;
}
.glasspart{
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(35px);
}
.vertical_lining{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.horrizontal_lining{
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.header_lining{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.body_disposition{
    display: flex;
    flex-direction: row;
    gap: 30px;

}


/* Header */

header{
    width: 943px;
    height: 35px;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 15px;
    margin-bottom: 15px;
}
header input {
    width: 400px;
    height: 25px;
    background: rgba(255, 255, 255, 0.1) ;
    backdrop-filter: blur(1px);  
    border-radius: 6px;  
    border: 0.05px ridge  rgba(255, 255, 255, 0.225);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
}
header input::placeholder{
    font-family: Inter, sans-serit;
    font-size: 9px;
    color: rgba(255, 255, 255, 0.5);
    background-image: url("/public/img/header/header_search_icon.svg");
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    left: 10px;
}
.notification_button{
    width: 18px;
    height: 20px;
    padding-top: 0px;
    padding-left: 5px;
    padding-bottom: 4px;
    padding-right: 1px;
    border-radius: 7px;
    background-color: rgba(217, 217, 217, 0.25);
    backdrop-filter: blur(1px);
    box-shadow: 0px 1px 8px 2px rgba(0, 0, 0, 0.25);
    margin-top: 5px;
}
header hr{
    width: 0.1px;
    rotate: 0deg;
    color: rgba(255, 255, 255, 0.5);
    height: 25px;
    border: 0.025px solid;
    position: absolute;
    z-index: 3;
    position: relative;
    left: -40px;
    top: 15px;
}
header h6 {
    font-weight: 300;
}
header p{
    color: rgba(241, 245, 249, 1);
    font-weight: 200;
    font-size: 8px;
}
.user_photo{
    width: 25px;
    height: 25px;
    border-radius: 90px;
    background-image: url("/public/img/user_photo.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-color: rgba(255, 255, 255, 0.5);
    margin-top: 35px;
}
.user_profile_infos{
    display: flex;
    flex-direction: column;
    width: 110px;
    height: 36px;
}
.user_profile_infos p{
    margin-top: -25px;
}
.user_profile{
    display: flex;
    flex-direction: row;
    width: 112.94px;
    height: 41.94px;
    justify-content: center;
    align-items: center;
    margin-top: -21px;
}
.header_part_2{
    display: flex;
    flex-direction: row;
    width: 150px;
    margin-top: -3px;
}


/* Dashboard */

.Dasboard{
    width: 200px;
    height: auto;
    border-right: 1px solid;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-color: rgba(255, 255, 255, 0.225);
    z-index: 3;
}
.logo_part{
    border-bottom: 1px solid rgba(221, 221, 221, 0.2)
}
.logo_part img{
    width: 135px;
    padding-top: 10px;
    position: relative;
    left: 30px;
    padding-bottom: 5px;
}
.Dasboard_icons{
    width: 18px;
    height: 18px;
    position: relative;
    top: 6px;
    margin-right: 5px;
}
.navbar_part {
    padding-top: 7px;
    padding-bottom: 140px;
    margin-left: 15px;
}
.navbar_part div{
    padding-bottom: 10px;
    padding-top: 5px;
    padding-right: 30px;
    padding-left: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: px;
    border-radius: 6px;
    width: 100px;
}
.navbar_part div:hover{
    border: 1px solid;
    border-color:  rgba(255, 255, 255, 0.5) ;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)),linear-gradient(87.25deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 99.29%);
}
.setting_part{
    border-top: 1px solid rgba(221, 221, 221, 0.2);
    padding-bottom: 15px;
}
.setting_part img{
    margin-left: 25px;
    margin-top: 10px;
    position: relative;
    top: 4px;
    width: 15.300010681152344px;
    height: 17.00001335144043px;
}
.Dasboard a{
    font-size:  14px;
    font-weight: 300;
    text-decoration: none;
}


/* Hero */

.hero_corp{
    display: flex;
    flex-direction: row;
    gap: 15px;
    height: 155px;
}
.hero_sections{
    width: 229px;
    height: 155px;
    border-radius: 8px;
    border: 1px solid;
    border-color: rgba(255, 255, 255, 0.7);
}
.hero_sections_space{
    margin-top: 25px;
}
.hero_section_corps{
    position: relative;
    top: -20px;
    left: 10px;
}
.hero_section_corps h6{
    font-family: Inter;
    font-style: normal;
    font-weight:200;
    font-size: 10px;
}
.hero_section_corps h1{
    font-family: Inter;
    font-style: normal;
    font-weight:600;
    font-size: 25px;
    color: white;
    position: relative;
    top: -17px;
}
.white_bar{
    width: 180px ;
    height: 5.234344482421875px;
    background-color: white;
    border-radius: 5px;
}
.evaluation_bars{
    position: relative;
    top: -40px;
    left: 10px;
}
/*New Leads*/
.hero_sections_header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 100px;
    margin-top: 10px;
}
.hero_sections_header img{
    height: 10px;
    padding-top: 7px;
    padding-right: 5px;
    padding-bottom: 7px;
    padding-left: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0px -2px 8px 0px rgba(103, 230, 220, 0.2);
    border-radius: 6px;
}
.hero_sections_header p{
    border-radius: 6px;
    padding-top: 3px;
    padding-right: 7px;
    padding-bottom: 3px;
    padding-left: 7px;
    font-size: 8px;
    font-weight: 400;
    color: rgba(103, 230, 220, 1);
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0px -2px 8px 0px rgba(103, 230, 220, 0.2);
}
.new_leads_bar{
    width: 112.5px ;
    height: 5.234344482421875px;
    background-color: rgba(103, 230, 220, 1);
    border-radius: 5px;
    position: relative;
    top: -5.3px;
}
/*Active Properties*/
.active img{
    height: 13px;
    padding-top: 5px;
    padding-right: 6px;
    padding-bottom: 5px;
    padding-left: 6px;
    margin-left: -04px;
    box-shadow: 0px 4px 14px -1px rgba(197, 108, 240, 0.3);
}
.active p{
    box-shadow: 0px 4px 14px -1px rgba(197, 108, 240, 0.3);
    color: rgba(203, 133, 225, 1);
}
.active_bar{
    width: 125px ;
    height: 5.234344482421875px;
    background-color: rgba(203, 133, 225, 1);
    border-radius: 5px;
    position: relative;
    top: -5.3px;
}
/*Deals in Pipeline*/
.deals_in_pipeline img{
    height: 13px;
    padding-top: 5px;
    padding-right: 6px;
    padding-bottom: 5px;
    padding-left: 6px;
    margin-left: -04px;
    box-shadow: 0px 4px 14px -1px rgba(255, 175, 64, 0.3);

}
.deals_in_pipeline p{
    box-shadow: 0px 4px 14px -1px rgba(255, 175, 64, 0.3);
    color: rgba(245, 158, 11, 1);
}
.deals_in_pipeline_bar{
    width: 83px ;
    height: 5.234344482421875px;
    background-color: rgba(245, 158, 11, 1);
    border-radius: 5px;
    position: relative;
    top: -5.3px;
}
/*Revenue Forecast*/
.revenue_forecast img{
    height: 13px;
    padding-top: 5px;
    padding-right: 6px;
    padding-bottom: 5px;
    padding-left: 6px;
    margin-left: -04px;
    box-shadow: 0px 4px 14px -1px rgba(196, 229, 56, 0.3);

}
.revenue_forecast p{
    box-shadow: 0px 4px 14px -1px rgba(196, 229, 56, 0.3);
    color: rgba(196, 229, 56, 1);

}
.revenue_forecast_bar{
    width: 155px ;
    height: 5.234344482421875px;
    background-color: rgba(196, 229, 56, 1);
    border-radius: 5px;
    position: relative;
    top: -5.3px;
}


/* Sales Pipeline Overview */

.sales_pipeline_overview_part{
    width: 631px;
    height: 212.2974853515625px;
    border-radius: 8px;
    border: 1px solid;
    border-color: rgba(255, 255, 255, 0.7);
}
.sales_pipeline_overview_part h3{
    font-family: Inter ;
    font-weight: 300;
    color: white;
    font-size: 17px;
    margin-left: 25px;
    position: relative;
    top: 15px;
}
.cercle_form{
    width: 4px;
    height: 4px;
    border-radius: 25px;
    background-color:rgba(217, 217, 217, 1);
    box-shadow: 0px 1px 7px 0px rgba(217, 217, 217, 0.48);
}
.sales_pipeline_overview_part table{
    width: 610px;
    height: 100px ;
    margin-top: 50px;
    margin-left: 10px;
}
th div{
   display: flex;
   flex-direction: row; 
    height: 2px;
    margin-top: -4px;
    margin-left: 6px;
}
th h6{
    position: relative;
    top: -34px;
    left: 5px;
}
.sales_pipeline_cell{    
    border: 0.81px solid;
    border-radius: 7px;
    border-color:rgba(255, 255, 255, 0.1) ;
    height: 40px;
    width: 110px;
    margin-left: 7px;
}
.sales_pipeline_overview_part P{
    font-size: 8px;
    margin-left: 5px;
}
.sales_pipeline_overview_part em{
    position: relative ;
    font-size: 7px;
    top: -12px;
    left: 5px;
}
/* Sales Pipeline Overview new */
/* Sales Pipeline Overview contacted */
.contacted{
    background-color: rgba(196, 229, 56, 1);
    box-shadow: 0px 1px 7px 0px rgba(196, 229, 56, 0.68);
}
/* Sales Pipeline Overview site visit */
.site_visit{
    background-color: rgba(245, 158, 11, 1);
    box-shadow: 0px 1px 7px 0px rgba(245, 158, 11, 0.62);
}
/* Sales Pipeline Overview negotiation */
.negotiation{
    background: rgba(203, 133, 225, 1);
    box-shadow: 0px 1px 7px 0px rgba(203, 133, 225, 0.62);
}
/* Sales Pipeline Overview closed*/
.closed{
    background: rgba(255, 127, 80, 1);
    box-shadow: 0px 1px 7px 0px rgba(255, 127, 80, 0.62);
}


/* New Enquiries */

.New_enquiries{
    height: 300.8515625px;
    width: 631px;
    border-radius: 8px;
    border: 1px solid;
    border-color: rgba(255, 255, 255, 0.7);
}
.New_enquiries h3{
    font-family: Inter ;
    font-weight: 300;
    color: white;
    font-size: 17px;
    margin-left: 25px;
    position: relative;
    top: 15px;
}
.New_enquiries_spaces{
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top: 35px;
    justify-content: center;
}
.New_enquiries_section{
    width: 185.72927856445312px;
    height: 195.9981231689453px;
    border-radius: 8.16px;
    border: 0.82px solid;
    border-color: rgba(255, 255, 255, 0.293);
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(35px);
}
.New_enquiries_section h4{
    background-image: linear-gradient(140.16deg, #00C6FF 4.97%, #0072FF 91.88%);
    font-family: Inter;
    font-size: 10.27px;
    font-weight: 500;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
}

.New_enquiries_section_persona{
    margin-left: 15px;
    margin-top: -10px;
}
.New_enquiries_section_persona h5{
    font-family: Inter;
    font-size: 12px;
    font-weight: 600;
}
.New_enquiries_section_persona p{
    font-family: Inter;
    font-size: 8.24px;
    font-weight: 400;
    position: relative;
    top: -20px;
}
.New_enquiries_section_budget{
    margin-left: 15px;
    margin-top: -10px;
}
.New_enquiries_section_budget h5{
    font-family: Inter;
    font-size: 10px;
    font-weight: 400;
}
.New_enquiries_section_budget em{
    font-family: Inter;
    font-size: 10.24px;
    font-weight: 300;
    position: relative;
    top: -20px;
    color: rgba(196, 229, 56, 1);
}
hr{
    width: 145px;
    height: 0.25px;
    border: none;
    background-color: rgba(255, 255, 255, 0.25);
    margin-top: -10px;    
}
.New_enquiries_section_date_part{
    margin-left: 15px;
    position: relative;
    top: 6px;
    font-family: Inter;
    font-size:  9.24px;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.New_enquiries_section_date_part p{
    position: relative;
    top: -8px;
}
.New_enquiries_section_date_part div{
    display: flex;
    flex-direction: row;
    gap:5px
}
.call_button{
    width: 15px;
    height: 15px;
    border-radius: 30px;
    border: 1.02px solid rgba(255, 255, 255, 0.5);
    background-image: url('/public/img/enquiries/enquiries_phone_icon.svg') ;
    background-position: center;
    background-size: 10px;
    background-repeat: no-repeat;
}
.mail_button{
    width: 15px;
    height: 15px;
    border-radius: 30px;
    border: 1.02px solid rgba(255, 255, 255, 0.5);
    background-image: url('/public/img/enquiries/enquiries_mail_icon.svg') ;
    background-position: center;
    background-size: 10px;
    background-repeat: no-repeat;
}
.carroussel_dots{
    width: 35px;
    height: 35px;
    background-image: url('/public/img/enquiries/dots_carroussel_enquiri.svg') ;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    margin-left: 275px;
    position: relative;
    
}


/* Upcoming Follow-ups */

.upcoming_follow_ups{
    height: 413.1416625976562px;
    width: 320px;
    border-radius: 8px;
    border: 1px solid;
    border-color: rgba(255, 255, 255, 0.7);
}
.upcoming_follow_ups h3{
    font-family: Inter ;
    font-weight: 300;
    color: white;
    font-size: 17px;
    margin-left: 25px;
    position: relative;
    top: 15px;
}
.upcoming_follow_ups h4{
    font-family: Inter;
    font-size: 12px;
    font-weight: 600;
    color: white;
}
.upcoming_follow_ups_clock_and_date {
    display: flex;
    flex-direction: row;
    align-content: end;
    gap: 5px;
    position: relative;
    top: -20px;
}
.upcoming_follow_ups_clock_and_date p{
    font-family: Inter;
    font-size:  9.24px;
    font-weight: 400;
    color: rgba(206, 214, 224, 1);
    
}
.upcoming_follow_ups_place {
    font-family: Inter;
    font-size: 9.24px;
    font-weight: 400;
    color: white;
    position: relative;
    top: -35px;
}
.upcoming_follow_ups button{
    width: auto;
    height: 25px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 17px;
    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: 4px 2px 11px 0px rgba(239, 71, 58, 0.15);
    border: none;
    font-size: 8.5px;
    color:rgba(255, 107, 129, 1);
    position: relative;
    top: 23px;
    text-align: right;
}
.medium{
    color:rgba(245, 158, 11, 1);
    box-shadow: 4px 2px 11px 0px rgba(245, 158, 11, 0.2);
}
.scheduled{
    color:rgba(196, 229, 56, 1);
    box-shadow: 4px 2px 11px 0px rgba(196, 229, 56, 0.46);
}
.upcoming_follow_ups_info{
    height: 50px;
    width: 120px;
}
.upcoming_follow_ups_tr{
    display: flex;
    flex-direction: row;
    height: 70px;
    gap: 100px;
    margin-left: 25px;
}
.upcoming_follow_ups_lines{
    width: 275px;
}
.lines{
    position: relative;
    top: -150px;
    left: 901px;
    display: flex;
    flex-direction: column;
    gap: 70px;
    z-index: 3;
}


/* Chat_part */

.chat_part{
    border-radius: 8px;
    border: 1px solid;
    border-color: rgba(255, 255, 255, 0.7);
    width: 320px;
    height: 100px;
    
}
.chat_part_head{
    display: flex;
    flex-direction: row;
    gap: 7px;
    margin-left: 10px;
    margin-top: -15px;
}
.chat_part button{
    width: 22.2978515625px;
    height: 23.35868835449219px;
    border-width: 1px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    background-image: url("/public/img/chat/chat_send_icon.svg");
    background-size: 11px ;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: none;
    position: relative;
    left: -27px;
    top: 6.5px;
    border: none;
}
.chat_part input{
    height: 25.35868835449219px;
    width: 240px;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px rgba(255, 255, 255, 1);
    background-image: url("/public/img/chat/chat_joinmessage_icon.svg");
    background-repeat: no-repeat;
    background-position: left;
    background-position: 5px;
    margin-left: 15px;
}
.chat_part input::placeholder{
    font-family: Inter;
    font-size: 10px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    position: relative;
    left:20px
}
footer{
    font-family: Inter;
    font-weight: 400;
    font-style: Italic;
    font-size: 11px;
    height: auto;
    width: auto;
    margin-top: -40px;
    position: relative;
    top: 20px;
    left: 790px;
}
